*{margin: 0; padding: 0;}



/*************************
*********CLASES***********
*************************/

.seccion1{
    width: 100vw;
    height: 100vh;
}




        
/********************************************************
******************** MEDIA QUERY ************************
********************************************************/

@media only screen and (min-width: 601px) {
    h2, p {
        font-size: xx-large !important;
    }
}